:root {
  --fs-1: 2.25rem;
  --fs-2: 2rem;
  --fs-3: 1.75rem;
  --fs-4: 1.5rem;
  --fs-5: 1.25rem;
  --fs-6: 1rem;
  --fs-7: 0.9rem;
  --fs-family: 'Sansation', 'Noto Sans KR', sans-serif;
  --color: #333;
  --color-primary: #136bc9;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--fs-family);
  font-size: var(--fs-6);
  color: var(--color);
}
body.swal2-height-auto {
  height: 100% !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: var(--fs-1);
}
h2 {
  font-size: var(--fs-2);
}
h3 {
  font-size: var(--fs-3);
}
h4 {
  font-size: var(--fs-4);
}
h5 {
  font-size: var(--fs-5);
}
h6 {
  font-size: var(--fs-6);
}
.wrapper {
  width: 1520px;
  max-width: 90%;
  margin: 0 auto;
}
div,
form,
section,
header,
footer {
  box-sizing: border-box;
}
input {
  border: none;
  outline: none;
}
.form-control {
  width: 100%;
}
.input-group {
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
}
.input-group label {
  min-width: 50px;
  font-size: var(--fs-7);
}
.input-group .form-control {
  flex: 1;
  background-color: transparent;
}
button,
.btn {
  width: 100%;
  padding: 0.8rem 1rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
table {
  margin-top: 1rem;
  width: 100%;
  border-collapse: collapse;
}
table tr {
  border-top: solid 1px;
  border-bottom: solid 1px;
}
table th {
  text-align: left;
}
table th,
table td {
  padding: 0.5rem;
  border-right: solid 1px;
}
table th:first-child,
table td:first-child {
  border-left: solid 1px;
}
#root:has(> .login-container) .login-container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#root:has(> .login-container) .login-container .login-illustration {
  background: linear-gradient(180deg, #2d629e, #1c5694);
  width: 55%;
  padding: 5% 0;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#root:has(> .login-container) .login-container .login-form {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#root:has(> .login-container) .login-container .login-form .login-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 2rem;
}
#root:has(> .login-container) .login-container .login-form .login-title img {
  max-height: 80px;
}
#root:has(> .login-container) .login-container .login-form .login-title h1 {
  font-size: var(--fs-2);
}
#root:has(> .login-container) .login-container .login-form .input-group {
  display: flex;
  gap: 0.25rem;
  width: 350px;
  max-width: 100%;
  background: #efefef;
  color: #999;
  margin-top: 1rem;
}
#root:has(> .login-container) .login-container .login-form .btn-login {
  margin-top: 1rem;
  background: var(--color-primary);
  color: white;
  border-radius: 0.5rem;
  border: none;
  outline: none;
}
.loading-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.loading-container .loading-spinner {
  margin-left: 0.5rem;
}
/*# sourceMappingURL=default.css.map */